In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_excel('Data\\Task3\\rawdata.xlsx')
df.head()

        date      time  sensor location  number activity position location.1
0 2024-01-16  10:10:30     0.0       A1       1   placed   inside         A1
1 2024-01-16  10:12:30     1.0       A2       1   picked   inside         A2
2 2024-01-16  10:28:30     1.0       A3       1   picked   Inside         A3
3 2024-01-16  10:38:20     0.0       A4       1   placed   Inside         A4
4 2024-01-16  10:45:20     1.0       A5       1   placed   inside         A5

In [29]:
df['activity'] = df['activity'].str.lower()
df['position'] = df['position'].str.lower()

### Task - 1 (incomplete)
---

In [4]:
# (pick1 - plac1) + (pick2 - plac2) + (pick3 - plac3) + (pick4 - plac4)
# (pick1 + pick2 + pick3 + pick4) - (plac1 + plac2 + plac3 + plac4)

In [21]:
def time_to_seconds(dt):
    return dt.hour * 3600 + dt.minute * 60 + dt.second

df['time_seconds'] = df['time'].apply(time_to_seconds)
df['time_seconds']

0      36630
1      36750
2      37710
3      38300
4      38720
       ...
170    45905
171    46390
172    46750
173    47420
174    47910
Name: time_seconds, Length: 175, dtype: int64

In [22]:
df.head()

,date,time,sensor,location,number,activity,position,location.1,time_datetime,time_seconds
0,2024-01-16,10:10:30,0.0,A1,1,placed,inside,A1,30,36630
1,2024-01-16,10:12:30,1.0,A2,1,picked,inside,A2,30,36750
2,2024-01-16,10:28:30,1.0,A3,1,picked,Inside,A3,30,37710
3,2024-01-16,10:38:20,0.0,A4,1,placed,Inside,A4,20,38300
4,2024-01-16,10:45:20,1.0,A5,1,placed,inside,A5,20,38720

In [30]:
datewise_placed = df[df['activity'] == 'placed'].groupby(['date', 'position'])['time_seconds'].sum()
datewise_picked = df[df['activity'] == 'picked'].groupby(['date', 'position'])['time_seconds'].sum()
total_duration = datewise_picked - datewise_placed
total_duration.head()

date        position
2024-01-16  inside       42250
2024-01-17  inside       33810
2024-01-18  inside     -212946
            outside     135190
Name: time_seconds, dtype: int64

### Task - 2
---

In [41]:
df.groupby(['date', 'activity'] ).count().unstack().fillna(0)['position']

activity    picked  placed
date
2024-01-16      40      40
2024-01-17      10       9
2024-01-18      37      39

### Task - 3
---

In [45]:
# !pip install streamlit

import streamlit as st


def main():
    # Task 1
    st.markdown("### Task - 1 (incomplete)")
    
    # Task 2
    st.markdown("### Task - 2")
    st.write(df.groupby(['date', 'activity']).count().unstack().fillna(0)['position'])
    
    
# Run the streamlit app
if __name__ == '__main__':
    main()